.container {
    width: 420px;
    margin-top: 20px;
}

.descriptionBox {
    width: 100%;
    background-color: aqua;
    padding: 10px;
}

.description {
    margin: 10px;
    font-size: 1em;
    padding: 20px;
}

.tittle {
    width: 100%;
    padding: 5px;
    background-color: rgb(86, 46, 123);
    text-align: center;
}

.cardImg {
    width: 100%x;
}