.container {
    padding: 2px 7px 2px 7px;
    color: rgb(255, 255, 255);
    background-color: #000000;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list {
    list-style-type: none;
    text-align: center;
}

.enl {
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
}

.item {
    padding: 2px 7px 2px 7px;
    margin: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}